body {
    box-sizing: border-box;
}

.submenu-wrapper {
    background-color: #3e1d1e;
}

.submenu-row{
    align-items: center;
}

.sub-menu-col{
    display: flex;
}

.submenu_holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
}

.submenu_holder li a.active {
    background-color: #96171c;
    border-radius: 5px;
    padding: 10px;
}

.submenu_holder li {
    list-style: none;
    margin-right: 20px;
}

.submenu_holder li a:hover {
    color: #ffcc00;
}

.submenu_holder li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.right-submenu-holder a {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
    color: #ffcc00;
}

.right-submenu-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
}

.right-submenu-holder label {
    display: flex;
    background-color: transparent;
    margin-left: 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 5px 10px;
    margin-bottom: 0;
}

.right-submenu-holder label span {
    color: #fff;
}

.right-submenu-holder label input {
    outline: none;
    border: none;
    background: transparent;
    padding: 0 5px;
    color: #ffcc00;
}

.right-submenu-holder form{
    margin:0;
    padding: 0;
    display: flex;
}

.right-submenu-holder form button{
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 10px;
    background: #ffcc00;
    color: #000;
    border: 2px solid #ddd;
}

.content-holder {
    /* background: #f0f8ff80; */
    background: #fff;
}

.content-holder .content-container {
    padding: 20px 0;
}

.content-holder .content-container .media-container {
    padding: 15px 0;
    text-align: center;
}

.content-holder .content-container .media-container h3 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.content-holder .content-container .media-container h3.dashboard-header{
    margin-bottom: 3rem;
}

.content-holder .content-container .media-container .img-holder {
    
    background-color:#fff;
}

.content-holder .content-container .media-container .media-holder {
    padding: 15px;
    text-align: left;
    background-color:white;
    transition: all 0.3s ease-in-out;
    background-color:#f1f1f1;
    border-top: 1px solid #bababa;
}

.content-holder .content-container .media-container .media-holder p{
    margin:0;
}

.content-holder .content-container .media-container .media-holder p.desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-holder .content-container .media-container .media-holder h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform:capitalize;
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom:5px;
}

.content-holder .content-container .media-container .media-href:hover {
    box-shadow: 3px 4px 4px 3px #bababa;
    transform: scale(1.1);
    z-index: 5;
    position: relative;
    color: #000 !important;
}

.content-holder .content-container .media-container .media-href:hover > .content-holder .content-container .media-container .img-holder img {
    transform: rotateY(360deg);
}

.content-holder .content-container .media-container .media-href:hover > .content-holder .content-container .media-container .media-holder p{
    color: #000 !important;
}

.content-holder .content-container .media-container .img-holder img {
    /* height: 120px; */
    width: 100%;
    object-fit: contain;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.content-holder .content-container .media-container .img-holder img.icon-img {
    height: 120px;
    width: auto;
    object-fit: contain;
    margin: 0;
    transition: all 0.5s ease-in-out;
    padding: 10px 0;
}

.content-holder .content-container .media-container .media-href {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    /* padding: 0px 0 5px 0; */
    border-radius:5px;
    border:1px solid #bababa;
}

.content-holder .content-container .media-container .view-more-href, .filter_button {
    padding: 10px 15px;
    background-color: #96171c;
    color: #fff;
    margin: 35px 0;
    border-radius: 5px;
    outline: none;
    border:none;
}

.filter_button {
    padding: 5px 8px;
    margin: 20px 0;
}

.sort-row {
    justify-content: flex-end;
}

.sort-row select {
    height: 45px;
    background: white;
    border-color: #ccc;
    padding-left: 30px;
    font-weight: bold;
}

.sort-row select:focus {
    background: white !important;
    color: #000;
    font-weight: bold;
}

.filter-holder .accordion {
    background-color: transparent;
    color: #868484;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.filter-holder .active,
.filter-holder .accordion:hover {
    background-color: transparent;
}

/* Style the accordion panel. Note: hidden by default */
.filter-holder .panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
}

.filter-holder .accordion:after {
    /* content: '\003E'; */
    content: '';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.filter-holder .active:after {
    /* content: "\02C5"; */
    content: "";
    /* Unicode character for "minus" sign (-) */
}

hr {
    margin: 0 !important;
}

.nav-flex-direction-end{
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-flex-direction-end p{
    color: #868484;
    font-weight: bold;
}

.search-col form input{
    width: 100%;
}

.sort-div{
    display: flex;
    align-items: center;
}

.sort-div i{
    font-size: 20px;
    background: white;
    height: 100%;
}

.fa-sort-amount-down:before{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 5px;
}


@media only screen and (max-width: 991px) {
    .sub-menu-col{
        display: none !important;
    }

    .search-col{
        flex: 0 0 100%;
        width: 100%;
    }

    .search-col form{
        width: 100%;
    }

    .right-submenu-holder label{
        margin-left: 0;
        flex:1;
    }
}

@media only screen and (max-width: 991px) {
    .content-holder .content-container .media-container{
        padding: 15px;
    }

    .content-holder .content-container .media-container .media-href:hover {
        transform:scale(1.01);
    }
}


/* main-content-view */

.main-content-wrapper{
    width: 100%;
    max-width: 100%;
    padding-bottom:20px;
}

.main-content-wrapper .main-image-container{
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* Full height */
    min-height: 75vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-content-wrapper .major-image-wrapper{
    min-height: 60vh;
}

.main-content-wrapper .main-video-container{
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* Full height */
    min-height: 55vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.plyr__video-wrapper, .plyr__video-embed {
    height: 55vh;
}

.main-content-wrapper .main-audio-container{
    padding:10px 0px;
    background: white;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-content-wrapper .main-audio-container img{
    object-fit: contain;
    height:100px;
    text-align: center;
    /* margin-right: 10px; */
    width: 100%;
}

.main-content-wrapper .main-audio-container audio{
    flex:1;
}

.main-content-wrapper .main-audio-container .plyr--audio {
    display: block;
    flex: 1;
    width: 100%;
}

.main-content-wrapper .main-image-container .blur-bg{
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding:20px;
    display:grid;
    place-items:center;
    position:absolute;
    top:0;
    left:0;
    z-index: 3;
}

.main-content-wrapper .main-image-container img{
    max-width:100%;
    object-fit:contain;
    height:400px;
    box-shadow: 0px 5px 11px 4px #222;
}

.main-content-wrapper .major-image-wrapper img{

    height:50vh;
}

.main-content-wrapper hr{
    border-top: 1px dashed #afabab;
}

.action-button-row{
    justify-content: space-between;
    align-items:center;
    padding: 15px 0;
}

.action-button-row .action-button-wrapper{
    display:flex;
    justify-content:flex-end;
}

.action-button-row .action-btn, .request-access-button{
    outline:none;
    padding:5px 10px;
    border-radius:5px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color:transparent;
    text-transform: capitalize;
}

.action-button-row .action-btn.make-favourite-button{
    color:#fff;
    border: 1px solid #ff0000 !important;
    background-color:#ff0000;
    color:#fff;
    box-shadow: 0px 5px 6px 1px #b2b2b2;
    transition: all 0.5s ease-in-out;
    margin-right:10px;
}
.action-button-row .action-btn.make-favourite-button:hover{
    background-color:transparent;
    color:#ff0000;
    border: 1px solid #ff0000 !important;
    box-shadow: 0px 5px 6px 1px #b2b2b2;
}

.action-button-row .action-btn.report-button{
    
    border-color:#ff8300;
    background-color:#ff8300;
    color:#fff;
    box-shadow: 0px 5px 6px 1px #b2b2b2;
    transition: all 0.5s ease-in-out;
    margin-right:10px;
}

.action-button-row .action-btn.report-button:hover{
    background-color:transparent;
    color:#ff8300;
    box-shadow: 0px 5px 6px 1px #b2b2b2;
}

.action-button-row .action-btn.access-button, .request-access-button{
    color:#fff;
    background-color:#96171c;
    border-color:#96171c;
    box-shadow: 0px 5px 6px 1px #b2b2b2;
    transition: all 0.5s ease-in-out;
}

.action-button-row .action-btn.access-button:hover, .request-access-button:hover{
    background-color:transparent;
    border-color:#96171c;
    color:#96171c;
}

.info-container{
    padding:20px 0;
}

.info-container h5, .info-content h5{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom:5px;
    text-transform:capitalize;
}
.info-content p{
    font-size:0.9rem;
    font-weight:700;
    margin:0;
}
.info-container p{
    margin:0;
}

.info-major-content h6{
    font-weight:600
}

#view_count{
    /* border-right:2px solid #ccc; */
    padding-right:5px;
}

.main-denied-container{
    width:100%;
    background-color: #cbcbcb;
    padding:20px 0;
}

.main-denied-container .denied-inner-wrapper{
    /* display:flex; */
    align-items: center;
}

.main-denied-container .denied-inner-wrapper img{
    object-fit: contain;
    height: 120px;
    margin-bottom: 20px;
}

.main-denied-container .denied-inner-wrapper .denied-text-container{
    flex:1;
    padding:0 20px;
    text-align: center;
    font-weight: 600;
}

span.hashtags {
    margin-right: 5px;
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: 600;
    background: #8ac6fb33;
    font-size: 0.8rem;
}

.autocomplete > div:hover:not(.group), .autocomplete > div.selected {
    background: #eee !important;
    cursor: pointer;
}

.autocomplete .group {
    background: #96171c !important;
    color: #fff;
}
