body, .church-about-area, .hindu-video-area, .causes-details-area, .contact-page-wrapper, .content-holder, .content-holder .content-container .media-container .img-holder, .main-content-wrapper, .main-content-wrapper .main-audio-container, .plyr--audio .plyr__controls, .denied-container, .main-denied-container, .main-content-wrapper .main-image-container .blur-bg {
    background-color: #383838 !important;
}

.section-title--two, .about-tai-content p, h5.section-title-normal, .target-content p, .single-contact-info .contact-info h4, .single-contact-info .contact-info p, .title, label, .table td, .table th, .content-holder .content-container .media-container h3, .content-holder .content-container .media-container .media-holder h5, .info-container h5, .info-content h5, .info-content, .info-container p, .info-major-content h6, .plyr__control, .plyr__controls__item, .main-denied-container, .denied-text-container h4, .about-tai-content p span{
    color: #fff !important;
}

.single-contact-info .contact-icon{
    color: #fff !important;
    border-color: #fff !important;
}

.contact-form__one .contact-input .contact-inner input, .contact-form__one .contact-input .contact-inner textarea{
    background: transparent !important;
    color: white !important;
}

.content-holder .content-container .media-container .media-holder {
    background-color: #565656 !important;
    border-top: 1px solid #bababa !important;
    color: white !important;
}

.content-holder .content-container .media-container .media-href:hover {
    box-shadow: 3px 4px 4px 3px #2b2b2b !important;
    color: #000 !important;
}

span.hashtags {
    color: white !important;
    border: 1px solid white !important;
}

.action-button-row .action-btn, .request-access-button, .action-button-row .action-btn.make-favourite-button:hover, .action-button-row .action-btn.make-favourite-button, .action-button-row .action-btn.report-button, .action-button-row .action-btn.report-button:hover{
    box-shadow: 0px 5px 6px 1px #2b2b2b !important;
}

.sort-row select{
    background: transparent !important;
    color: #fff !important;
}

.sort-div i {
    color: #ccc !important;
}

.sort-row select:focus {
    background: transparent !important;
    color: #fff !important;
    font-weight: bold !important;
}

.modal-content{
    background-color: #383838 !important;
}

.modal-title {
    color: white !important;
}

.modal-header .close {
    color: white !important;
}

textarea.form-control {
    background: transparent !important;
    color: white !important;
}

.form-control:focus {
    background: transparent !important;
    color: white !important;
}

.form-control{
    background: transparent !important;
    color: white !important;
}

.no_data, .info-major-content{
    color: white !important;
}

.page-link {
    background-color: #222 !important;
    border: 1px solid #222 !important;
}

.page-item.disabled .page-link {
    background-color: #222 !important;
    border-color: #222 !important;
}

.sort-row select option{
    background-color: #222 !important;
}